.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}



/* Header
--------------------------------------------- */
.site-header {
	background-color: #111;
	color: #fff;
}

.site-header a {
	color: #fff;
}

.site-branding {
	padding: 1rem;
}

.site-title {
	font-size: 1.875rem;
	margin: 0;
}

.site-description {
	margin: 0;
}
.site-header .site-title {
    width: 200px;
    font-size: 1.3em;
    text-transform: uppercase;
    margin: 0.4rem 1rem 0;
}

.main-navigation a {
    padding: 1rem;
    display: block;
    font-size: 0.9em;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}
@media screen and (min-width: 50em) {
	.site-branding {
		text-align: center;
	}
	.main-navigation a {
		padding: 0 1rem;
	}
	.site-header {
		display: grid;
		grid-template-columns: 1fr minmax(auto, 25rem) minmax(auto, 37.5rem) 1fr;
		justify-content: center;
		width: 100%;

    background-color: #000000;
    border-top: 3px solid #305c9f;

	}

	.site-branding {
		grid-column: 2/3;
		text-align: left;
	}

}


/* Navigation
--------------------------------------------- */
.main-navigation {
	display: block;
	width: 100%;
	position: absolute;
	top: 6.5rem;
	right: 0;
	z-index: 1000;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
	background-color: #111;
}

.main-navigation li {
	position: relative;
}

.main-navigation li.current-menu-item > a,
.main-navigation li.current_page_item > a,
.main-navigation li:hover > a,
.main-navigation li.focus > a {
	background-color: #305c9f;
}

.main-navigation li.current-menu-item svg path,
.main-navigation li.current_page_item svg path,
.main-navigation li:hover > a svg path,
.main-navigation li.focus > a svg path {
	background-color: #305c9f;
}

.main-navigation a {
	display: block;
	padding: .75rem 1.25rem;
	text-align: center;
}

.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	position: absolute;
	top: -5rem;
	right: .5rem;
	z-index: 100;
	display: block;
	width: 3.75rem;
	padding: 1rem;
	margin: 0;
	border: none;
	background: transparent;
	color: #fff;
}

@media screen and (min-width: 50em) {
	.menu-toggle {
		display: none;
	}
	
	.main-navigation {
		width: auto;
		position: relative;
		top: 0;
		align-self: center;
		margin-left: auto;
	}

	.main-navigation ul,
	.main-navigation.toggled ul {
		display: flex;
		justify-content: center;
	}

	.main-navigation ul ul {
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		float: left;
		position: absolute;
		top: 100%;
		left: -999em;
		z-index: 99999;
		background-color: #111;
		flex-direction: column;
	}
	
	.main-navigation ul ul a {
		left: -999em;
		top: 0;
		width: 200px;
		text-align: left;
	}

	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
		left: 100%;
		top: 0;
	}
	
	.main-navigation ul li:hover > ul,
	.main-navigation ul li.focus > ul {
		left: auto;
	}
}

/* If Admin Bar is on front end */
.admin-bar .main-navigation {
	top: calc(5rem + 46px);
}

@media screen and (min-width: 50em) {
	.admin-bar .main-navigation {
		top: 0;
	}
}

/* Comments & Paging Navigation */
.site-main .comment-navigation,
.site-main
.posts-navigation,
.site-main
.post-navigation {
	margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}


.menu-toggle svg path {
    fill: currentColor;
}